<div class="container__versions-img">
    <div class="container__git">
        <img class="animate__animated  animate__zoomInUp" src="../assets/img/comandos-de-git.png" alt="Imagen de git">
        <img class="animate__animated  animate__zoomInUp" src="../assets/img/deploy_with_git.png" alt="Imagen de git">
    </div>
    <div class="container__git">
        <img class="animate__animated  animate__rollIn" src="../assets/img/introgit-resumen1.png" alt="Imagen de git">
        <img class="animate__animated  animate__rotateInUpRight" src="../assets/img/git-vs-github-1024x512.png"
            alt="Imagen de git">
    </div>
    <div class="container__git">
        <img class="animate__animated  animate__rollIn" src="../assets/img/introgit-resumen1.png" alt="Imagen de git">
        <img class="animate__animated  animate__rotateInUpRight" src="../assets/img/git-vs-github-1024x512.png"
            alt="Imagen de git">
    </div>
    <h1 class="animate__animated  animate__zoomOutDown">Adiossssssssssssss.</h1>
    <h2 class="animate__animated  animate__zoomOutDown">VIVA GITTTTTTTTTTTTTTTTTTTTTTTTTT!.</h2>
    <!-- 




    <div class="container__buttons">
        <button (click)="component='gitHub'">
            Git Hub
        </button>
        <button (click)="component='gitLab'">
            Git Lab
        </button>
        <button (click)="component='bitBucket'">
            Bit Bucket
        </button>
    </div>
    <div class="container__repositories">
        <app-gitlab *ngIf="component === 'gitLab'"></app-gitlab>
        <app-github *ngIf="component === 'gitHub'"></app-github>
        <app-bitbucket *ngIf="component === 'bitBucket'"></app-bitbucket>
    </div> -->
</div>